extends ./layout.pug
block contenido
    form(action="/users" method="POST")
    div(class="form-group")
        label(for="email") Email
        input(class="form-control", type="text", name="email", placeholder="Email", id="email")
    div
        label(for="password") Contrase単a
        input(class="form-control", type="password", name="password", placeholder="Contrase単a", id="password")
    div
        label(for="password") Confirma Contrase単a
        input(class="form-control", type="password", name="password_confirmation", placeholder="Confirmar Contrase単a", id="password_confirmation")
    div
        input(type="submit", value="Iniciar Sesion" class="btn btn-info")
